<div class="row">
  <div class="col-6 mx-auto">
    <form (submit)="signUp()" [formGroup]="form">
      <div class="mb-2">
        <input
          formControlName="firstName"
          class="form-control"
          placeholder="First name"
          type="text"
        />
        <span
          *ngIf="
            form.get('firstName')?.invalid && form.get('firstName')?.touched
          "
          >{{ (this.form.get("firstName")?.errors)!["message"] }}</span
        >
      </div>
      <div class="mb-2">
        <input
          formControlName="lastName"
          class="form-control"
          placeholder="Last name"
          type="text"
        />
        <span
          *ngIf="form.get('lastName')?.invalid && form.get('lastName')?.touched"
          >{{ (this.form.get("lastName")?.errors)!["message"] }}</span
        >
      </div>
      <div class="mb-2">
        <input
          formControlName="profileImg"
          class="form-control"
          type="file"
          accept="image/*"
        />
      </div>
      <div class="mb-2">
        <select class="form-select" formControlName="genre">
          <option value="">--select genre--</option>
          <option *ngFor="let genre of genres" [value]="genre">
            {{ genre }}
          </option>
        </select>
        <span
          *ngIf="form.get('genre')?.invalid && form.get('genre')?.touched"
          >{{ (this.form.get("genre")?.errors)!["message"] }}</span
        >
      </div>
      <div class="mb-2">
        <textarea
          formControlName="description"
          class="form-control"
          placeholder="Your biography..."
          type="text"
        ></textarea>
      </div>
      <div class="mb-2">
        <input
          formControlName="username"
          class="form-control"
          type="text"
          placeholder="Choose your username"
        />
        <span
          *ngIf="form.get('username')?.invalid && form.get('username')?.touched"
          >{{ (this.form.get("username")?.errors)!["message"] }}</span
        >
      </div>
      <div class="input-group mb-2" formGroupName="authData">
        <div>
          <input
            formControlName="email"
            class="form-control"
            placeholder="Your email"
            type="email"
          />
          <span
            *ngIf="
              form.get('authData.email')?.invalid &&
              form.get('authData.email')?.touched
            "
            class="text-danger"
            >You must insert a valid email</span
          >
        </div>
        <div>
          <div class="d-flex align-items-center">
            <div>
              <input
                formControlName="password"
                class="form-control"
                placeholder="Password"
                type="password"
              />
              <span
                *ngIf="
                  (form.get('authData.confirmPassword')?.errors)!['mismatch']
                "
                >{{
                  (this.form.get("authData.confirmPassword")?.errors)![
                    "message"
                  ]
                }}</span
              >
            </div>
            <input
              formControlName="confirmPassword"
              class="form-control"
              placeholder="Confirm password"
              type="password"
            />
          </div>
        </div>
      </div>
      <button [disabled]="form.invalid" class="btn btn-success btn-sm">
        Sign Up
      </button>
    </form>
  </div>
</div>
