<div class="row">
  <div class="col-6 mx-auto">
    <form (submit)="signIn(form)" #form="ngForm">
      <div class="mb-2">
        <input
          class="form-control mb-2"
          type="text"
          placeholder="Insert your email"
          required
          ngModel
          name="email"
          #email="ngModel"
        />
        <span *ngIf="email.invalid && email.touched"
          >You must insert a valid email</span
        >
      </div>
      <div class="mb-2">
        <input
          class="form-control mb-2"
          type="password"
          placeholder="Insert your password"
          required
          ngModel
          name="password"
          #password="ngModel"
        />
        <span *ngIf="password.invalid && password.touched"
          >You must insert a valid password</span
        >
      </div>
      <div class="py-3 d-flex align-items-center justify-content-between">
        <button [disabled]="form.invalid" class="btn btn-success btn-sm">
          Sign In
        </button>
        <p class="mb-0">
          <a routerLink="/user/signup" class="text-decoration-none"
            >Sign Up if you don't have an account</a
          >
        </p>
      </div>
    </form>
  </div>
</div>
